# 시작하기

In [3]:
from IPython.display import HTML

HTML("""
<style>
/* Notebook 7 / JupyterLab */
.cm-editor, .cm-content {
    font-size: 30px !important;
    line-height: 1.4 !important;
}
</style>
""")

In [8]:
3000*2

6000

In [10]:
print("hello python")
print(32)
print('hi')
print('계산 : ', 3000*2, '입니다')

hello python
32
hi
계산 :  6000 입니다

In [14]:
sale = 20 * 2000
print("오늘 매출은 ",sale,"입니다")

오늘 매출은  40000 입니다

In [20]:
# 성장율 = (이번달 매출 - 지난달 매출) / 지난달 매출 * 100
성장율 = (1500-1000)/1000*100
"이번달의 성장율은 100%입니다"

'이번달의 성장율은 100%입니다'

In [17]:
print("이번달의 성장율은 ",(1500-1000)/1000*100,"%입니다")

이번달의 성장율은  50.0 %입니다

In [21]:
print("이번달의 성장율은 ",성장율,"%입니다")

이번달의 성장율은  50.0 %입니다

In [23]:
이달매출 = 500
지난달매출 = 2500
성장율 = (이달매출-지난달매출)/지난달매출*100
print("이번달의 성장율은 ",성장율,"%입니다")

이번달의 성장율은  -80.0 %입니다

In [32]:
이달매출 = input('이번달 매출액을 입력하세요')
지난달매출 = input('지난달 매출액을 입력하세요')
print(이달매출,지난달매출)

이번달 매출액을 입력하세요 1000
지난달 매출액을 입력하세요 2000

1000 2000

In [ ]:
#당신의 이름을 알려주세요
#이름님! 반갑습니다!!

In [36]:
name = input("당신의 이름을 알려주세요")
print(name+"님! 반갑습니다!!")

당신의 이름을 알려주세요 영리쌤

영리쌤님! 반갑습니다!!

# print()의 활용

In [1]:
가격 = 1000
수량 = 10
매출 = 가격 * 수량
print(매출)

10000

In [5]:
print("이번달 매출은", 매출, "입니다.", sep=" ")

이번달 매출은 10000 입니다.

In [8]:
#apple, banana, cherry
과일목록1 = 'apple'
과일목록3 = 'banana'
print( 과일목록1,  과일목록2, sep=', ')

apple, banana

In [17]:
print( 과일목록1, 과일목록2,  과일목록3, sep='>')#sep=',\t '

apple>banana>banana

# data type

In [21]:
12345, '12345'

(12345, '12345')

In [22]:
type(12345), type('12345')

(int, str)

In [23]:
data = 12345
data2 = '12345'
type(data), type(data2)

(int, str)

In [25]:
12345+10, '12345'+'10'

(12355, '1234510')

In [26]:
data+10, data2+10

TypeError: can only concatenate str (not "int") to str

In [ ]:
print("이번달 매출은", 매출, "입니다.", sep=" ")

In [27]:
name = 'ylee'
age = 20
#stringformat
print("나의 이름은 {}이고, 나이는 {}입니다.".format(name, age))

나의 이름은 ylee이고, 나이는 20입니다.

In [29]:
#fstring
print(f"나의 이름은 {name}이고, 나이는 {age}입니다.")

나의 이름은 ylee이고, 나이는 20입니다.

In [ ]:
# 기본 입력
name = input("이름을 입력하세요: ")
print(f"입력한 이름: {name}")

# 숫자 입력 (문자열을 숫자로 변환)
age = int(input("나이를 입력하세요: "))
print(f"내년 나이: {age + 1}")

In [30]:
age = input('나이를 입력하세요: ')
age + 1

나이를 입력하세요:  20

TypeError: can only concatenate str (not "int") to str

In [31]:
type(age)

str

In [33]:
type(int('10'))

int

In [34]:
int(age)+1

21

In [35]:
type(int(age)+1)

int

In [36]:
age = '열살'
type(age)

str

In [37]:
age = 20.8
type(age)

float

In [38]:
student_name = 'ylee'
name_1 = 'ylee'

In [39]:
1_name = 'ylee'

SyntaxError: invalid decimal literal (877937700.py, line 1)

In [ ]:
x = 10
a = 20

In [ ]:
PI = 3.141592 #constant 상수

In [ ]:
MAX_VALUE = 1000
MIN_VALUE = 0

In [41]:
#input()  #shift+tab 키 매개변수 확인
print(abs(-3.14)) #tab

3.14

In [42]:
"".format()

''

In [52]:
a = 30,20,10 #패킹
type(a), a

(tuple, (30, 20, 10))

In [58]:
x=30;
y=20; 
y1=10

In [55]:
x,y, y1 = a #언패킹
x,y

(30, 20)

In [48]:
b = 30,
type(b)

tuple

In [59]:
a = 10
b = a
a,b

(10, 10)

In [60]:
id(a), id(b)

(140715331185368, 140715331185368)

In [63]:
a=10
id(a), id(b) #(140715331185688, 140715331185368)

(140715331185368, 140715331185368)

In [66]:
user_name = 'ylee' #snake
userName = 'ylee' #camel
username = 'ylee'
_name = 'ylee' #private
__name__ = 'ylee' #더블언더스코어 '던더'
print(str(20)) #__str__()
_password = 1234

20

In [ ]:
a+b, a + b

In [2]:
a = 'hi'
b = 'Hi'
id(a), id(b)

(140715331228128, 2474963809696)

In [68]:
a = 'Hi'
id(a), id(b)

(2751099109856, 2751099109856)

In [3]:
a,b

('hi', 'Hi')

# 변수의 영역 namespace

지역변수, 전역변수

In [6]:
def local_exam(): #사용자정의함수
    local_var = 100
    print(f"함수내부: {local_var}")
local_exam()
local_var = 200
local_exam()
print(f"함수외부: {local_var}")

함수내부: 100
함수내부: 100
함수외부: 200

In [15]:
a = 0
def aa():
    global counter
    # temp = a + 1
    # a = temp
    #a = a + 1
    a += 1
    print(counter)

aa() #counter =1
aa() #
aa()

1
2
3