In [14]:
# MySQL 서버에 연결
con = pymysql.connect(
  host='localhost',user='root',password='1234',db='wntrade',charset='utf8'
) # 한글처리 (charset='utf8')
# 커서 생성
cursor = con.cursor()

In [15]:
cursor.execute("Show tables")

7

In [22]:
import pymysql

In [26]:
# SQL 쿼리 실행 
sql = """ 
select 사원번호, 이름, 부서명
from 사원 LEFT JOIN 부서
on 사원.부서번호 = 부서.부서번호 
"""

In [27]:
cursor.execute(sql)

10

In [28]:
for row in cursor.fetchall():
    print(row)

('E01', '이소미', '영업부')
('E02', '배재용', '기획부')
('E03', '유대현', '영업부')
('E04', '최소민', '영업부')
('E05', '안주훈', '영업부')
('E06', '이현진', '영업부')
('E07', '오영수', '영업부')
('E08', '선하라', '개발부')
('E09', '유가을', '영업부')
('E10', '정수진', None)

In [29]:
cursor.close()
con.close()