In [2]:
from IPython.display import HTML

HTML("""
<style>
/* Notebook 7 / JupyterLab */
.cm-editor, .cm-content {
    font-size: 25px !important;
    line-height: 1.3 !important;
}
</style>
""")

변수 price와 is_discount가 주어졌을 때, is_discount가 True이면 가격에 10% 할인을 적용하고, 그렇지 않으면 원래 가격을 출력하는 코드를 작성하세요.

In [4]:
price = 1000
is_discount = False
final_price = 0

if is_discount :
    final_price = price * (1-0.1)
else :
    final_price = price

print(final_price)

1000

다음 코드의 결과값은 무엇일까?
```
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")

elif "python" in a and "you" not in a:
    print("python")

elif "shirt" not in a:
    print("shirt")

elif "need" in a:
    print("need")

else: print("none")
```

In [6]:
a = "Life is too short, you need python"

if "wife" in a:
    print("wife")
elif "python" in a and "you" not in a:
    print("python")
elif "shirt" not in a:
    print("shirt")
elif "need" in a:
    print("need")
else: print("none")

shirt

휴대폰 번호 앞자리에 따라 통신사는 아래와 같이 구분된다.
사용자로부터 휴대전화 번호를 입력 받고, 통신사를 출력하는 프로그램을 작성하라.

번호 통신사
011 SKT
016 KT
019 LGU
010 알수없음

>> 휴대전화 번호 입력: 011-345-1922
당신은 SKT 사용자입니다.

In [17]:
tel_co = {
    '011':'SKT',
    '016':'KT',
    '019':'LGU',
    '010':'알수없음'
}
tel_co

{'011': 'SKT', '016': 'KT', '019': 'LGU', '010': '알수없음'}

In [14]:


phone_number = input('휴대전화 번호 입력:').split('-')[0]
phone_number

msg = tel_co.get(phone_number, '번호확인필요')
print(f'당신은 {msg} 통신사의 사용자입니다.')

휴대전화 번호 입력: 016-1234-1234

당신은 KT 통신사의 사용자입니다.

In [10]:
phone_number = input('휴대전화 번호 입력:').split('-')[0]
phone_number

telcom = None

if phone_number == '011' :
    telcom = 'SKT'
elif phone_number == '016' :
    telcom = 'KT'
elif phone_number == '019' :
    telcom = 'LGU'
elif phone_number == '010' :
    telcom = '알수없음'
else :
    telcom = '번호 확인 필요'
    
if telcom == '번호 확인 필요':
    print(f'{telcom} ')
else : 
    print(f'당신은 {telcom} 통신사의 사용자입니다.')

휴대전화 번호 입력: 010-1111-1234

당신은 알수없음 통신사의 사용자입니다.

아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.
```
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']
```
btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다.
최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

Key Name	Description
opening_price	최근 24시간 내 시작 거래금액
closing_price	최근 24시간 내 마지막 거래금액
min_price	최근 24시간 내 최저 거래금액
max_price	최근 24시간 내 최고 거래금액

In [19]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/")
btc_json = btc.json()
print(btc_json)

{'status': '0000', 'data': {'opening_price': '135760000', 'closing_price': '136293000', 'min_price': '135319000', 'max_price': '137000000', 'units_traded': '388.76180776', 'acc_trade_value': '52938010452.17904', 'prev_closing_price': '135760000', 'units_traded_24H': '842.68660498', 'acc_trade_value_24H': '114153373558.89893', 'fluctate_24H': '1290000', 'fluctate_rate_24H': '0.96', 'date': '1767663501616'}}

In [22]:
btc_data_dic = btc_json['data']
btc_data_dic

{'opening_price': '135760000',
 'closing_price': '136293000',
 'min_price': '135319000',
 'max_price': '137000000',
 'units_traded': '388.76180776',
 'acc_trade_value': '52938010452.17904',
 'prev_closing_price': '135760000',
 'units_traded_24H': '842.68660498',
 'acc_trade_value_24H': '114153373558.89893',
 'fluctate_24H': '1290000',
 'fluctate_rate_24H': '0.96',
 'date': '1767663501616'}

In [23]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

In [29]:
시가 = int(btc['opening_price'])
최고가 = int(btc['max_price'])
변동폭 = 최고가 - int(btc['min_price'])
변동폭

1681000

In [30]:
if  시가+변동폭 > 최고가 :
    print('상승장')
else :
    print('하락장')

상승장

In [ ]:
구구단을 출력하세요
1. 짝수단, 홀수단 구분해서 출력
2. 2~4단 첫줄, 5~9단 둘째줄에 출력

In [31]:
# 짝수단 2,4,6,8 단 출력
for i in range(2,10,2): #홀수는 (3,10,2)
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72

In [32]:
for dan in range(2, 5):        # 2, 3, 4
    for i in range(1, 10):     # 1~9
        print(f"{dan} x {i} = {dan * i}", end="\t")
    print()  # 한 단이 끝나면 줄바꿈

print()  # 첫 줄과 둘째 줄 사이를 한 줄 띄움

2 x 1 = 2	2 x 2 = 4	2 x 3 = 6	2 x 4 = 8	2 x 5 = 10	2 x 6 = 12	2 x 7 = 14	2 x 8 = 16	2 x 9 = 18
3 x 1 = 3	3 x 2 = 6	3 x 3 = 9	3 x 4 = 12	3 x 5 = 15	3 x 6 = 18	3 x 7 = 21	3 x 8 = 24	3 x 9 = 27
4 x 1 = 4	4 x 2 = 8	4 x 3 = 12	4 x 4 = 16	4 x 5 = 20	4 x 6 = 24	4 x 7 = 28	4 x 8 = 32	4 x 9 = 36

In [38]:
# 2~5단 (첫줄)
print("\n[2~4단]")
for i in range(1, 3): #10줄 반복
    line = ""
    for dan in range(2, 4): #3번 공백으로 연결
        #if dan % 2 == 0:  # 짝수단만
        line += f"{dan} x {i} = {dan*i:2d}   "
    print(line)

# 6~9단 (다음줄)

[2~4단]
2 x 1 =  2   3 x 1 =  3
2 x 2 =  4   3 x 2 =  6

In [ ]:
2 x 2 = 4

양수음수분류기
다양한 개수의 정수를 입력받아, 각 수가 양수인지 음수인지 구분하여 각각의 개수를 출력하는 코드를 작성하시오.
- 입력으로부터 정수리스트로 변환하는 것은 한 줄 코드로 작성
- 입력 받은 값 중 0은 무시
- quit 를 입력하면 프로그램을 중지합니다.
---
출력예시

정수들을 입력: 입력한 숫자가 없습니다 양수: 0개, 음수: 0개, 합계: 0
정수들을 입력: 12 -56 25 98 -54 0 77 0 양수: 4개, 음수: 2개, 합계: 102

In [6]:
while True: 
    user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
    #종료 명령이면 break
    if user_input == 'q' :
        break
    str_int = user_input.split()
    numbers = [] #초기값
        
    #int(user_input)
    for num in str_int:
        # if num == '0' :
        #     continue
        if num != '0':
            numbers.append(int(num))
    
    #입력받은 정수 리스트
    print(numbers)
    #입력한 숫자가 없습니다 체크
    if numbers == None: 
        print('입력한 숫자가 없습니다')
    #양수/음수 판정
    plus_numbers = []
    minus_numbers = []
    for num in numbers:
        if num > 0 :
            plus_numbers.append(num)
        else : 
            minus_numbers.append(num)
    pls_cnt = len(plus_numbers)
    minus_cnt = len(minus_numbers)
    total = sum(numbers)
    print(f'양수 {pls_cnt}개 음수 {minus_cnt}개 총 합게 : {total}')
    print()

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" 10 20 -20 -40

[10, 20, -20, -40]
양수 2개 음수 2개 총 합게 : -30

정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q" q

In [ ]:
while True:
    user_input = input('정수의 목록을 공백으로 구분해서 입력하세요. 종료: "q"')
    user_input.split()
    #종료 명령이면 break
    if user_input == 'q' :
        break
    #리스트로 변환
    #입력한 숫자가 없습니다 체크
    #양수/음수 판단>카운트
    #합계 계산
    #출력
    print(f'양수: 4개, 음수: 2개, 합계: 102)

In [ ]:
#초대장 생성 프로그램

ooo님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 ooo님을 초대합니다.
쿠폰 No. #
ooo님 축제에서 만나길 고대하겠습니다.

In [17]:
vip_list = ['조인성','김우빈','정우성','유해진']
num = 1
for vip in vip_list:
    #print(vip)
    print(f'{vip}님 안녕하세요?')
    print(f'화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {vip}님을 초대합니다.')
    print(f'쿠폰 No.{num}')
    num += 1
    print(f'{vip}님 축제에서 만나길 고대하겠습니다.')

조인성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 조인성님을 초대합니다.
쿠폰 No.1
조인성님 축제에서 만나길 고대하겠습니다.
김우빈님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 김우빈님을 초대합니다.
쿠폰 No.2
김우빈님 축제에서 만나길 고대하겠습니다.
정우성님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 정우성님을 초대합니다.
쿠폰 No.3
정우성님 축제에서 만나길 고대하겠습니다.
유해진님 안녕하세요?
화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 유해진님을 초대합니다.
쿠폰 No.4
유해진님 축제에서 만나길 고대하겠습니다.

In [ ]:
vip_list = input('vip의 이름을 입력하세요') 
    num = 1
for vip in vip_list : 
    print(f'{vip}님 안녕하세요?')
    print(f'화창한 2023년 가을, 저희 컴퓨터 동아리 축제에 {vip}님을 초대합니다.')
    print(f'쿠폰 No.{num}')
    num += 1
    print(f'{vip}님 축제에서 만나길 고대하겠습니다.')